[Desktop Entry]
Version=1.0
Type=Application

Name=JamesDSP
Comment=Audio effect processor for Pipewire
Categories=AudioVideo;Audio;Qt;

Icon=me.timschneeberger.jdsp4linux
Exec=jamesdsp
Terminal=false
